{% extends 'base.html' %}

{% block content %}
  <a href="{% url 'blog_title_update_view' object.random_url object.id %}">Update Title</a>
  {% for post in blog %}
    <h1>{{ post }}</h1>
    <blockquote>
      <b style="font-size:22px;"><i>{{ post.text }}</i></b> <br>
      <a href="{% url 'blog_text_update_view' post.random_url post.id %}">Update Text</a>
    </blockquote>
    <a href="{% url 'reply_create_view' post.random_url post.id %}">Reply</a> <br>
    {% for reply in post.get_reply %}
      <blockquote>
        <b style="font-size:22px;"><i>{{ reply }}</i></b> <br>
        <a href="{% url 'reply_update_view' reply.id %}">Update Reply</a>
      </blockquote>
    {% endfor %}
  {% endfor %}
{% endblock %}
