{% extends 'base.html' %}

{% block css %}
  <style media="screen">
    #back {
      font-size: 18px;
    }
  </style>
{% endblock %}

{% block back %}
  <a id="back" href="{% url 'index_view' %}">Back</a>
{% endblock %}

{% block content %}
  <h1 id="title">{{ request.user.profile.get_full_name }}'s Personal Categories</h1>
  {% for x in category %}
    {% if x.user == request.user %}
      <div class="different_categories">
        <a id="categories" href="{% url 'category_detail_view' x.random_url x.id %}">{{ x }}</a>
      </div>
    {% endif %}
  {% endfor %}
{% endblock %}
