{% extends 'base.html' %}

{% block content %}
  {% if not request.user.is_authenticated %}
    <form class="" action="{% url 'login' %}" method="post">
      {% csrf_token %}
      <p>Username: <input type="text" name="username" placeholder="Username"></p>
      <p>Password: <input type="password" name="password" placeholder="Password"></p>
      <input type="submit" name="" value="Login">
    </form>
  {% else %}
    <h1 id="title">Welcome <i>{{ request.user.profile.get_full_name }}</i> to your Personal Blog</h1>
    <h3><a href="{% url 'category_list_view' %}">Enter Here to View Your Previous Blogs!</a></h3>
  {% endif %}
{% endblock %}
